<div class="whole-div">
  <h1>
    TODO
  </h1>

  <%# <div class="inputs"> %>
  <%# <form action="result" method="post"> %>
  <%# <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token%>
  <%# <input type="text" class="task" name="todo[new_task]" placeholder="Add Todos"/> %>
  <%# <input type="date" class="date" name="todo[date]"/><br> %>
  <%# <input type="submit" class="button" value="Add"/> %>
  <%# </form> %>
  <%# </div> %>
    
    <%= form_with(model: @todo,  url: "/todos", method: "POST") do |form| %>
    <%= form.text_field "todo[new_task]", class: "task", placeholder: "Add new tasks", required: true%>
    <%= form.date_field "todo[date]", class: "date", required: true %>
    <br>
  <%= form.submit "Add Task", class: "submit_button" %>
<% end %>
</div>

<br>
<br>
  <div class="display_div"> <% @todos.each do |todo| %>
    <%# <p class="display_id">
                    <%= todo.id %>
    <%# </p> %>
      <%= form_with(url: "/todos/#{todo.id}", method: "put") do %>
    <%= check_box_tag "status", nil, checked = todo.status ? true : false, class: "TodoItem-checkbox", onclick: "this.form.submit()" %>
    <% end %>
      <p class="display_task" id=<%= (todo.status) ? "TextItem-LineThrough" : "" %>> <%= todo.new_task %>
    </p>
    <p class="display_date">
      <%= todo.date %>
    </p>
    <%# <input type="button" class="delete_button" value="Delete"> %>
    <a href="/delete/ <%= todo.id%>">
      <button class="delete_button">Delete</button>
    </a>
    <br>
  <% end %>
</div>
