<style>
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {


    background: url(<%= asset_path 'bg1.jpg' %>);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 1850px 300px;

  }

  h1 {
    font-size: 2rem;
    padding-top: 5%;
    /* font-style: italic; */
    font-family: proxima-nova, sans-serif;
  }

  .task {

    margin-top: 1%;
    /* margin-left: 34%; */
    width: 40%;
    height: 4vh;
    text-align: center;
    font-size: larger;
    border-radius: 1vh;
    font-family: proxima-nova, sans-serif;
  }

  .task::placeholder {
    color: black;

  }
  .task:hover {
    background-color: #678ac0;
    color: white;

  }

  .date {
    border-radius: 1vh;
    margin-left: 1%;
    margin-top: 10%;
    text-align: center;
    width: 40%;
    height: 4vh;
    font-size: larger;
    font-family: proxima-nova, sans-serif;
  }
  .date:hover {
    background-color: #678ac0;
    color: white;
  }
  .button {
    border-radius: 2vh;
    font-size: larger;
    width: 17%;
    height: 4vh;
    margin-top: 3%;
    font-family: proxima-nova, sans-serif;
    /* margin-left: 42%; */
  }
  .button:hover {
    background-color: #678ac0;
    color: white;

  }
  .whole-div {
    /* box-shadow: 15px 5px 5px; */
    border-radius: 2vh;
    box-shadow: 0 0 20px black;
    background: white;
    text-align: center;
    width: 37%;
    height: 30vh;
    margin-left: 31%;
    margin-top: 6%;
  }
  .display_div {
    border: 2px solid black;
  }
  .display_task {}

  .display_date {}
  /*
  ul {
    text-align: center;
    padding: 7%;
    font-size: 2rem;
    list-style: circle;
  }

  li:hover {
    color: red;
    margin: 4%;
    transition: 1.5s ease;
    cursor: pointer;
  } */
</style>

<div class="whole-div">
  <h1>
    TODO
  </h1>

  <%# <div class="inputs"> %>
  <%# <form action="result" method="post"> %>
  <%# <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token%>
  <%# <input type="text" class="task" name="todo[new_task]" placeholder="Add Todos"/> %>
  <%# <input type="date" class="date" name="todo[date]"/><br> %>
  <%# <input type="submit" class="button" value="Add"/> %>
  <%# </form> %>
  <%# </div> %>

    <%= form_with(model: @todo,  url: "/todos", method: "POST") do |form| %>
    <%= form.text_field "todo[new_task]", class: "task", placeholder: "Add new tasks"%>
    <%= form.date_field "todo[date]", class: "date" %>
      <br>
    <%= form.submit "Add Task", class: "button" %>
  <% end %>


  </div>
    <br>
      <br>
        <div class="display_div"> <% @todos.each do |todo| %>
          <p>
            <%= todo.new_task  class: "display_task" %>
            <%= todo.date  class: "display_date" %>
          </p>
        <% end %>
      </div>
      <%# <div class="row">
                <ul id="list_item"></ul>
            </div> %>
